* text=auto eol=lf

*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php


/tests export-ignore
/phpunit.xml export-ignore
/.github export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/bootstrap export-ignore
/public export-ignore
/postman export-ignore
/docs export-ignore
/routes export-ignore
CHANGELOG.md export-ignore
TODO.md export-ignore
video-idea.md export-ignore